 html {
      background:url(https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=815082c477a9063db2148495201e1137&auto=format&fit=crop&w=1534&q=80);
      background-size:cover;
      background-position: 100%; 
      font-family:'BioRhyme', serif;
      text-align: center;
      font-size: 10px;
    }
    body {
      margin: 0;
      font-size: 2rem;
      display:flex;
      flex:1;
      min-height: 100vh;
      align-items: center;
    }
    footer {
      bottom:0;
      position:absolute;
      color: #ffef2ebf;
      width:100%;
      text-align: center;
    }
    .clock {
      width: 30rem;
      height: 30rem;
      border:20px solid #8871713d;
      border-radius:50%;
      margin:50px auto;
      position: relative;
      padding:2rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #b39393,
        inset 0 0 10px #e4bebe,
        0 0 10px rgba(189, 178, 178, 0.2);
    }
    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }
    .hand {
      width:50%;
      height:6px;
      border-radius: 10px;
      background:#ffef2ebf;
      position: absolute;
      top:50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }